

.tailrow{
    /*background-color: aqua;*/
    margin-top: 20px;
    text-align: center;
}

.item {
    display: inline-block;
    padding: 6px 10px;
    margin: 2px;
    border: 1px solid black;
    text-align: center;
    /*line-height: 40px;*/
    cursor: pointer;
    color: black;
    font-size: 15px;
}
.item.disabled {
    cursor: not-allowed;
    color: dimgray;
}
.item.active {
    border: none;
    cursor: auto;
}